version: '3'

services:

  nginx:
    image: nginx:1.15.0-alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - node_app_network
    depends_on:
      - app
      - db

  app:
    build:
      context: .
    container_name: app
    networks:
      - node_app_network
    depends_on:
      - db

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: mysql_db
    tty: true
    restart: always
    volumes:
      - ./initial_data.sql:/docker-entrypoint-initdb.d/initial_data.sql
    environment:
      - MYSQL_DATABASE=node_db
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node_app_network

networks:
  node_app_network: